<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Detalle del proyecto</title>
    <link rel="stylesheet" href="/styles/details.css" />
  </head>

  <body>
    <main class="detail">
      <!-- AUTOR -->
      <section class="author">
        <div class="author__photo">
          <img src="<%= project.photo %>" alt="Foto del autor" />
        </div>
        <p class="author__job">Full Stack Developer</p>
        <h2 class="author__name"><%= project.author %></h2>
      </section>

      <!-- PROYECTO -->
      <section class="project">
        <h1 class="project__name"><%= project.name %></h1>
        <p class="project__slogan"><%= project.slogan %></p>

        <h3 class="project__title">Product description</h3>
        <p class="project__description"><%= project.description %></p>

        <p class="project__technologies"><%= project.technologies %></p>

        <div class="project__links">
          <a href="#" class="project__link demo"><%= project.demo %></a>
          <a href="#" class="project__link repo"><%= project.repo %></a>
        </div>
      </section>

      <!-- VOLVER -->
      <a href="../frontend-static/index.html" class="back">
        ⬅ Volver a proyectos
      </a>
    </main>
  </body>
</html>
