<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Detalle del proyecto</title>
    <link rel="stylesheet" href="/styles/details.css" />
  </head>

  <body>
    <main class="detail">
      <!-- AUTOR -->
      <section class="author">
        <div class="author__photo">
          <% if (project.photo) { %>
            <img src="<%= project.photo %>" alt="Foto del autor" />
          <% } %>
        </div>
        <div class="author__info">
          <h2 class="author__info--name">
            <%= project.author || "Autor/a desconocido/a" %>
          </h2>
          <p class="author__info--job"><%= project.job || "" %></p>
        </div>
      </section>

      <!-- PROYECTO -->
      <section class="project">
        <div class="project__header">
          <h1 class="project__header--name">
            <%= project.name || "Proyecto sin nombre" %>
          </h1>
          <% if (project.slogan) { %>
            <p class="project__header--slogan"><%= project.slogan %></p>
          <% } %>
        </div>
        <div class="project__info">
          <% if (project.description) { %>
            <h3 class="project__info--title">Product description</h3>
            <p class="project__info--description"><%= project.description %></p>
          <% } %>

          <% if (project.technologies) { %>
            <p class="project__info--technologies"><%= project.technologies %></p>
          <% } %>
        </div>

        <% if (project.image) { %>
          <div class="project__image">
            <img
              src="<%= project.image %>"
              alt="Foto del proyecto"
              class="project__image--img"
            />
          </div>
        <% } %>

        <% if (project.demo || project.repo) { %>
          <% const hasDemo = Boolean(project.demo); %>
          <% const hasRepo = Boolean(project.repo); %>
          <div
            class="project__links <%= hasDemo && hasRepo ? 'project__links--two' : 'project__links--one' %>"
          >
            <% if (hasDemo) { %>
              <a
                href="<%= project.demo %>"
                class="project__links--link demo"
                target="_blank"
                rel="noreferrer"
              ></a>
            <% } %>
            <% if (hasRepo) { %>
              <a
                href="<%= project.repo %>"
                class="project__links--link repo"
                target="_blank"
                rel="noreferrer"
              ></a>
            <% } %>
          </div>
        <% } %>
      </section>
      <!-- VOLVER -->
      <a href="/" class="back"> ⬅ Volver a proyectos </a>
    </main>
  </body>
</html>
